name: Instrumented

on:
  pull_request:
    branches: [ "main", "master" ]
  schedule:
    - cron: "0 6 * * *"


jobs:
  connected-tests:
    name: connected-tests
    runs-on: macos-latest
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Start emulator & run connected tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          target: google_apis
          arch: x86_64
          profile: pixel_6
          script: ./gradlew connectedDebugAndroidTest --stacktrace

      - name: Upload connected test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: connected-test-reports
          path: |
            **/build/reports/androidTests/connected/**
            **/build/outputs/androidTest-results/**

      - name: Save logcat
        if: always()
        run: |
          mkdir -p artifacts/logs
          adb logcat -d > artifacts/logs/logcat.txt || true

      - name: Upload logcat
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: logcat
          path: artifacts/logs/logcat.txt
